{% extends 'base.html' %}

{% block head%} 
<title>Home</title>
{% endblock %}

{% block body%} 
<br>
<h1>Home Page</h1>
<br>
<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Welcome</h1>
      <p>Welcome to the  Stark Blog! Here we will be talking about technology stuffs and will try learn new things and share our knowledge about all the basics of computer science to the modern frameworks!
      </p>
      <p>Go visit our Blogs for interesting stuffs and get your hand dirty with some of the coolest projects!</p>
      <p>
        <a class="btn btn-primary" href="/posts" role="button">Go to our posts</a>
      </p>
    </div>
  </div>
</main>
{% endblock %}